.controller.xbox {
    background: url(https://imgur.com/BeOhURI.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(https://imgur.com/BeOhURI.png);
}

.xbox.disconnected {
    background: url(https://imgur.com/u856YDU.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(https://imgur.com/leuWhI6.png);
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(https://imgur.com/JyUp8ad.png);
    opacity: 0;
}

.xbox .quadrant {
    position: absolute;
    background: url(https://imgur.com/jkhR61X.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .back, .xbox .start {
    background: url(https://imgur.com/ndOAz3Y.png);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .button {
    position: absolute;
    background: url(https://imgur.com/Ro568N4.png);
    width: 48px;
    height: 48px;
}

.xbox .stick {
    position: absolute;
    background: url(https://imgur.com/25NiQvH.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .face {
    background: url(https://imgur.com/JtFlPzC.png);
    position: absolute;
    opacity: 0;
}
