.controller.edit {
    background: url(base.svgz);
}

.edit.white {
    background: url(base.svgz);
}

.edit.disconnected {
    background: url(disconnected.svgz);
}

.edit.disconnected div {
    display: none;
}

.edit .trigger {
    background: url(trigger.svgz);
}

.edit .bumper {
    background: url(bumper.svgz);
}

.edit .quadrant {
    background: url(quadrant.svgz);
}

.edit .back, .edit .start {
    background: url(start-select.svgz);
}

.edit .button {
    background: url(abxy.svgz);
}

.edit .stick {
    background: url(stick.svgz);
}

.edit .face {
    background: url(dpad.svgz);
}
