.controller.edit {
    background: url(base.svg);
}

.edit.white {
    background: url(base.svg);
}

.edit.disconnected {
    background: url(disconnected.svg);
}

.edit.disconnected div {
    display: none;
}

.edit .trigger {
    background: url(trigger.svg);
}

.edit .bumper {
    background: url(bumper.svg);
}

.edit .quadrant {
    background: url(quadrant.svg);
}

.edit .back, .edit .start {
    background: url(start-select.svg);
}

.edit .button {
    background: url(abxy.svg);
}

.edit .stick {
    background: url(stick.svg);
}

.edit .face {
    background: url(dpad.svg);
}
